<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login with fb</title>
</head>
<body>
    <a href="/auth/fb">
        <button>Login with Facebook</button>
    </a>
</body>
</html>